body {
  margin: 0;
  background-color: #eee;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.row {
  display: grid;
}

.flex {
  display: flex;
}

div.wrapper {
  position: relative;

  // NAWIGACJA GÓRNA

  header {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-family: $brand-font;
    border-bottom: 1px solid $font-nav-color;

    nav.top {

      ul {
        @extend .clearfix::after;
        float: right;
        list-style: none;

        li {
          display: inline-block;
          border-left: 1px solid $font-nav-color;

          a {
            display: block;
            padding: 15px 20px;
            font-size: 20px;
            color: $font-nav-color;
            text-decoration: none;

            &:hover {
              color: #fff;
              background-color: rgb(223, 75, 22);
            }

            span {
              margin: 0 15px;

              &:hover {
                color: #fff;
              }
            }
          }
        }
      }
    }
  }

  // NAWIGACJA BOCZNA

  aside.desktop {
    background-color: red;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    padding: 5px 0;
    font-family: $brand-font;
    background-color: #000;
    overflow: hidden;

    nav.main {

      h2 {
        padding: 15px 10px;
        font-size: 30px;
        color: #fff;
        font-weight: 400;
        font-family: 'Schoolbell', cursive;
      }

      ul {
        list-style: none;
        border-bottom: 1px solid $font-nav-color;

        li {

          a {
            display: block;
            text-decoration: none;
            color: $font-nav-color;
            font-size: 20px;
            padding: 15px 15px;
            font-family: $brand-font;
            text-align: left;

            div {
              display: inline-block;
              margin: 0 10px;
            }

            &:hover {
              color: $font-nav-color-hover;
            }
          }

          &:hover {
            background-color: $font-nav-color;
            box-shadow: 0 0 0 2px rgb(223, 75, 22);
          }

        }
      }

      .manager {
        position: relative;


        h3 {
          margin: 20px;
          color: $font-nav-color;
          text-transform: uppercase;
          font-weight: bold;
          letter-spacing: 1px;
        }

        .foto {
          width: 70px;
          height: 70px;
          margin-left: 10px;
          background-color: #444;
          border-radius: 50%;
        }

        p {
          position: absolute;
          font-size: 18px;
          color: #0F5BFF;
          top: 65px;
          left: 103px;

          &:hover {
            cursor: pointer;
            box-shadow: 0 0 0 1px #0F5BFF;
          }
        }
      }
    }
  }

  // SEKCJE

  section.pages-wrapper {
    width: calc(100% - 290px);
    margin: 70px 20px 20px 270px;
    font-family: $brand-font;

    section {
      width: 100%;
    }

    // SEKCJA GENERAL

    section.general {
      padding: 0;
      margin: 10px auto;
      background-color: #fff;


      h1.title {
        font-size: 20px;
        text-transform: uppercase;
        text-align: left;
        font-weight: 400;
        padding: 10px 0 10px 30px;
        border-bottom: 1px solid $font-nav-color;
      }

      div.row {
        @extend .row;
        grid-template-columns: 1fr 1fr 80px;
        grid-template-rows: 1fr;
        text-align: center;
        margin: 30px 250px;

        button.date {
          padding: 20px;
          font-size: 18px;
          border: 1px solid $font-nav-color;

          span.icon-calendar {
            margin-left: 100px;
          }

          &:hover {
            cursor: pointer;
          }
        }

        button.refresh {
          background-color: $brand-main-color;
          border: 1px solid $font-nav-color;

          span.icon-refresh {
            font-size: 18px;
            color: #fff;
          }

          &:hover {
            cursor: pointer;
          }
        }
      }

      div.statistic {
        @extend .row;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin: 100px 100px;
        background-color: #fff;

        div {
          @extend .row;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr;
          padding: 10px 30px;
          margin: 10px;
          font-size: 20px;
          text-align: left;

          p {
            text-align: left;
            border-bottom: 1px solid #ccc;
            line-height: 200%;
          }

          span {
            text-align: right;
            border-bottom: 1px solid #ccc;
            line-height: 200%;
          }
        }
      }

      h3.title-chart {
        text-align: center;
        font-size: 19px;
      }

      div.chart {
        margin: 0 auto;
        width: 700px;
        height: 400px;
      }
    }

    // SEKCJA DETAILS

    section.details {
      padding: 0;
      margin: 30px auto;
      background-color: #fff;


      h1.title {
        font-size: 20px;
        text-transform: uppercase;
        text-align: left;
        font-weight: 400;
        padding: 10px 0 10px 30px;
        border-bottom: 1px solid $font-nav-color;
      }

      div.row {
        @extend .row;
        grid-template-columns: 1fr 1fr 80px;
        grid-template-rows: 1fr;
        text-align: center;
        margin: 30px 250px;

        button.date {
          padding: 20px;
          font-size: 18px;
          border: 1px solid $font-nav-color;

          span.icon-calendar {
            margin-left: 100px;
          }

          &:hover {
            cursor: pointer;
          }
        }

        button.refresh {
          background-color: $brand-main-color;
          border: 1px solid $font-nav-color;

          span.icon-refresh {
            font-size: 18px;
            color: #fff;
          }

          &:hover {
            cursor: pointer;
          }
        }
      }

      div.details-table {
        padding: 26px 70px;
        overflow: auto;

        table {
          margin: 30px auto;

          tbody {
            tr {
              width: 50px;
              height: 60px;
              color: $font-nav-color;
              border-bottom: 1px solid $font-nav-color;

              th {
                padding: 5px 15px;
                text-align: center;

                &:hover {
                  background-color: #555;
                  cursor: pointer;
                  color: #fff;
                }
              }

              td {
                padding: 5px 15px;
                text-align: left;
              }

              &:hover {
                background-color: #eee;
                cursor: pointer;
              }
            }
          }
        }
      }

      div.table-pages {
        padding: 25px 0px;
        text-align: center;

        a {
          display: inline-block;
          margin: 0 20px;
          padding: 5px 8px;
          font-size: 18px;
          text-decoration: none;
          color: $font-nav-color;

          &:hover {
            background-color: $font-nav-color;
            color: #fff;
          }
        }
      }
    }

    // SEKCJA LINKS

    section.links {
      padding: 0;
      margin: 30px auto;
      background-color: #fff;
      text-align: center;

      h1.title {
        font-size: 20px;
        text-transform: uppercase;
        text-align: left;
        font-weight: 400;
        padding: 10px 0 10px 30px;
        border-bottom: 1px solid $font-nav-color;
      }

      button.add-new {
        margin: 50px 0;

        background-color: $brand-main-color;
        border: none;
        color: #fff;
        font-size: 20px;
        padding: 13px 20px;
        border-radius: 5%;

        &:hover {
          cursor: pointer;
        }
      }

      div.link-wrapper {
        margin: 0 auto;
        @extend .flex;
        flex-direction: column;
        width: 80%;

        div {
          @extend .flex;
          width: 100%;
          padding: 10px 5px;
          border-bottom: 1px solid $font-nav-color;

          p {
            width: 30%;
            height: 60px;
            line-height: 60px;
            text-align: left;
            padding-left: 7px;
          }

          a {
            width: 50%;
            height: 60px;
            line-height: 60px;
            text-decoration: none;
          }

          span {
            display: none;
            width: 10%;
            height: 60px;
            line-height: 60px;
            text-align: center;
          }

          &:hover {
            background-color: $font-nav-color;

            p {
              color: #fff;
            }

            a {
              color: #fff;
            }

            span {
              display: inline-block;
              cursor: pointer;
              color: #fff;

              &:hover {
                color: $brand-main-color;
              }
            }
          }
        }
      }
    }
  }
}